<div class="author-note">

<h1>How to support me if you enjoyed reading {{ title }}</h1>

<p><a href="/tip/">If you enjoyed {{ title }}, donate to me so I can keep writing</a></p>

<h1>About the author, {{ metadata.author.name }}.</h1>

<p>{{ metadata.author.bio | safe }}</p>

<p><a href="/">go back home so you can explore some more.</a></p>

</div>
