<div class="author-note">
	<h1>Thanks for reading. What's next?</h1>
	<p><a href="/contact">Contact me if you have a comment</a> or you can also <a href="/support">give money so I can continue writing</a> or <a href="/feed.xml">follow the main RSS feed</a> or <a href="/posts">read another post on this website</a>.</p>
    <p>Finally, you can also <a href="/">go back home so you can explore some more.</a></p>
</div>
