<div class="author-note">
	<h1>About the author.</h1>
	<p>Robert Kingett is a Blind, and gay, obscure writer. <a href="/writings">He writes  fiction where Disabled heroes get their happy endings and nonfiction where life can, sometimes, be educational.</a> <a href="/tip">You can financially support his writing on his website</a> or <a href="/follow/">follow Robert Kingett to keep up with future writing.</a></p>
    <p><a href="/">go back home so you can explore some more.</a></p>
</div>
