{% js %}{% include "public/js/copy-button.js" %}{% endjs %}

<div class="button-holder" data-title="{{ title }}" data-url="{{ metadata.url }}{{ page.url }}">
	<!-- if you have JS enabled, this will be a copy button -->
</div>
