<div class="follow-cta">

<h1>Follow future posts</h1>

<p>

<a href="/feed.xml">You can follow the main RSS feed,</a> <a href="/follow">learn how to follow the podcast or join my street team,</a> or follow via email with the form below.

</p>

<p>

{% include 'newsletter-form.njk' %}

</p>

</div>