<div class="follow-cta">
  <h1>Follow future posts</h1>

  You can <a href="/feed.xml">follow the main RSS feed,</a> <a href="/follow">learn how to follow the podcast or join my street team,</a> or follow via email with the form below.

  {% include 'newsletter-form.njk' %}
</div>