{%- from "macros.njk" import renderNavListItem -%}
{%- set navPages = collections.all | eleventyNavigation -%}
{%- set rssFeedEntry = { title: "RSS Feed", url: "/feed.xml" } -%}
<nav>
  <ul class="nav">
	{{ renderNavListItem(rssFeedEntry) }}
	{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
  </ul>
</nav>