<form class="embeddable-buttondown-form" action="https://buttondown.com/api/emails/embed-subscribe/weirdwriter" method="post" target="popupwindow"><label for="bd-email">Enter your email to join Robert's mailing list</label>
<input id="bd-email" name="email" type="email">
<label><input type="checkbox" name="tag" value="street">Join street team where you help promote my writing</label>
<label><input type="checkbox" name="tag" value="beta">Join beta reading team where you give feedback on work</label>
<input type="submit" value="Subscribe">
</form>
