<div>
	<h1>Thanks for reading! What's next?</h1>
	<div>
		<P>I don't have comments on this website, so you can <a href="/donate">give money so I can continue writing</a> or <a href="/feed.xml">follow the main RSS feed</a> or <a href="/posts">read another post on this website</a>.</P>
    {{ metadata.author.bio | markdown | safe }}
	</div>
</div>
