---
layout: layouts/base.njk
bodyClass: page
---
<article class="hentry">
	<header class="entry-header">
    <h1>{{ title }}</h1>
	</header>
	<div class="entry-content">
    {{ content | safe }}
	</div>
</article>
