---
layout: layouts/base.njk
---
<article class="post">
	<header class="entry-header">
		<span>
			<span class="screen-reader-text">
				Posted on
			</span>
			<a href="{{ page.url }}">
				<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
			</a>
		</span>
		<h1>{{ title }}</h1>
	</header>
	<div class="entry-content">
		{{ content | safe }}
	</div>
	<footer class="entry-footer">
		<div class="author-info">
		</div>
		<span class="cat-links"></span>
		<span class="tag-links"></span>
	</footer>
{% include 'follow.njk' %} 
</article>


<nav class="navigation post-navigation" aria-label="Posts">
	<h2 class="screen-reader-text">Post navigation</h2>
	{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
	<div class="nav-links">
		{%- if previousPost %}
		<div class="nav-previous">
			<a href="{{ previousPost.url }}" rel="prev">
				<span class="meta-nav" aria-hidden="true">Previous</span>
				<span class="screen-reader-text">Previous post:</span>
				<span class="post-title">{{ previousPost.data.title }}</span>
			</a>
		</div>
		{%- endif %}
		{%- if nextPost %}
		<div class="nav-next">
			<a href="{{ nextPost.url }}" rel="next">
				<span class="meta-nav" aria-hidden="true">Next</span>
				<span class="screen-reader-text">Next post:</span>
				<span class="post-title">{{ nextPost.data.title }}</span>
			</a>
		</div>
		{%- endif %}
	</div>
	{%- endif %}
	{%- endif %}
</nav>
